[flake8]
max-line-length = 125

ignore =
    DAR101,  # Missing parameter(s) in Docstring
    DAR201,  # Missing "Returns" in Docstring
    DAR401,  # Missing exception(s) in Raises section
    WPS305,  # F-strings is OK
    WPS323,  # Found `%` string formatting - simple logging format

    S311,    # Standard pseudo-random generators are not suitable for security/cryptographic purposes is OK for the project


per-file-ignores =
    #  WPS420 Found wrong keyword: pass
    #  WPS604 Found incorrect node inside `class` body

    app/exceptions.py: WPS420, WPS604
